.nav {
	height: 10vh;
	font-family: 'Roboto', sans-serif;
	width: 100%;
	background: #f8f8f8;
	display: flex;
	justify-content: space-around;
	align-items: center;
	& .logo {
		color: white;
		text-align: center;
		display: none;
	}

	& ul {
		display: flex;
		justify-content: space-around
	}
}

a {
	padding: .8rem;
	text-transform: uppercase;
	font-size: 13px;
	color: #333
}